* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* HEADER */

.App-header {
  padding: 2em;
  background-color: #fff;
  box-shadow: 0 0 20px #aaa;
  color: #9e2021;
}

.App-header h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size: 2em;
}

.App-header h2 {
  text-align: center;
  font-size: 1em;
}

/* DESCRIPTION */
main {
  width: 95%;
  margin: 1em auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 20px #aaa;
}
.description {
  text-align: center;
}
.description h2 {
  padding: 2em 1em 1em 1em;
}
.description p {
  padding: 1em;
}

/* FORM */

form {
  padding: 2em 1em 1em 1em;
}
label {
  text-align: center;
  display: block;
  font-weight: bold;
}
input {
  display: block;
  width: 90%;
  margin: 2em auto;
  padding: 1em;
  border-radius: 5px;
  border: solid 1px #000;
}
::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}
button {
  display: block;
  margin: 2em auto 1em auto;
  padding: 1em;
  border: solid 1px #9e2021;
  border-radius: 5px;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #9e2021;
}
.palindrome {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  font-size: 2em;
  padding: 1em 1em 2em 1em;
  animation-name: palindrome;
  animation-duration: 1s;
  animation-timing-function: ease;
}

@keyframes palindrome {
  0% {
    transform: translateX(5000px);
  }
  100% {
    transform: translateX(0);
  }
}
/* FOOTER */

.footer {
  box-shadow: 0 0 20px #aaa;
  background-color: #9e2021;
  color: #fff;
}
.footer p {
  text-align: center;
  font-size: 1em;
  padding: 2em 1em;
}
.footer p a {
  color: #fff;
  text-decoration: none;
}

/* ANIMATION */

.animation {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -100;
}
.animation-palindrome {
  position: absolute;
}

@media screen and (min-width: 600px) and (orientation: portrait) {
  .html, body {
    font-size: 16px;
  }
  .App-header {
    position: absolute;
    width: 100%;
  }
  main {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -5px 20px #aaa;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  .App-header h1 {
    font-size: 3em;
  }
  .App-header h2 {
    font-size: 2em;
  }
  main {
    max-width: 700px;
  }
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
  .html, body {
    font-size: 14px;
  }
  .App-header {
    position: absolute;
    width: 100%;
  }
  main {
    max-width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
  .footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -5px 20px #aaa;
  }
}